.chatbox-content {
    width: 500px;
    height: 600px;
}

.chat-body {
    overflow-y: scroll;
    max-height: 500px;
}

.card-chat {
    max-width: 200px;
}

.chatbox-content .msg-content {
    max-width: 70%;
    word-wrap: break-word;
    white-space: normal;
    border-radius: 0.375rem;
    padding: 0.5rem;
}

.chatbox-content .chat-body {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .chatbox-content {
        width: 400px;
        height: 500px;
    }

    .chat-body {
        overflow-y: scroll;
        max-height: 400px;
    }

    .card-chat {
        max-width: 200px;
    }
}

@media only screen and (max-width: 800px) {
    .chatbox-content {
        width: 300px;
        height: 500px;
    }

    .chat-body {
        overflow-y: scroll;
        max-height: 400px;
    }

    .card-chat {
        max-width: 200px;
    }
}