<div class="card mb-3">
    <div class="card-header">
        <h5>User Details</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-6">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">First Name: </th>
                                <td>{{activeUser()?.firstName}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Last Name: </th>
                                <td>{{activeUser()?.lastName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-md-6">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">Phone: </th>
                                <td>{{activeUser()?.phone}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email: </th>
                                <td>{{activeUser()?.email}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5>Orders</h5>
    </div>
    @if (activeUser()!.data.length > 0) {
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Movie</th>
                    <th scope="col">Cinema</th>
                    <th scope="col">Hall</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Time</th>
                    <th scope="col">Status</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                @for (order of activeUser()?.data; track $index) {
                <tr>
                    <th scope="row">{{order.movieTitle}}</th>
                    <td>{{order.cinema}}</td>
                    <td>{{order.hall}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.time}}</td>
                    <td>{{statusMap[order.status]}}</td>
                    <td>
                        @if(order.status == 'na') {
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-primary" (click)="pay(order)">Pay</button>
                            <button type="button" class="btn btn-sm btn-danger" (click)="cancel(order)">Cancel</button>
                        </div>
                        }
                        @if(order.status == 'paid') {
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-success" (click)="like(order)">Like</button>
                            <button type="button" class="btn btn-sm btn-danger"
                                (click)="dislike(order)">Dislike</button>
                        </div>
                        }
                        @if(order.status == 'liked' || order.status == 'disliked') {
                        Review submitted!
                        }
                        @if(order.status == 'canceled') {
                        Order canceled
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
    } @else {
    <div class="card-body">
        <p class="text-center">You don't have any orders yet!</p>
    </div>
    }
</div>