@if (movie()) {
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{movie()?.title}}</li>
    </ol>
</nav>
<div class="row">
    <div class="col-12 col-md-4">
        <img [src]="movie()?.poster" [alt]="movie()?.title" class="img-fluid">
    </div>
    <div class="col-12 col-md-8">
        <div class="card">
            <div class="card-header">
                <h5>{{movie()?.title}}</h5>
                <div class="card-body">
                    <p [innerHTML]="movie()?.description"></p>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h6>Actors:</h6>
                            <ul>
                                @for (actor of movie()?.movieActors; track $index) {
                                <li>{{actor.actor.name}}</li>
                                }
                            </ul>
                        </div>
                        <div class="col-12 col-md-6">
                            <h6>Genres:</h6>
                            <ul>
                                @for (genre of movie()?.movieGenres; track $index) {
                                <li>{{genre.genre.name}}</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn btn-sm btn-success">
                    <i class="fa-solid fa-cart-shopping"></i> Add to cart
                </div>
            </div>
        </div>
    </div>
</div>
}